################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug/net6.0/projeto_clientes.csproj.AssemblyReference.cache
/.vs/projeto_clientes/FileContentIndex
/.vs/ProjectEvaluation
